runtime/bootstrap/*
runtime/approle/*
runtime/rendered/*
runtime/logs/*
vault/certs/*
vault/data/*
waf/certs/*
local/oauth.env

!runtime/bootstrap/.gitkeep
!runtime/approle/.gitkeep
!runtime/rendered/.gitkeep
!runtime/logs/
!runtime/logs/.gitkeep
!runtime/logs/vault/
!runtime/logs/vault/.gitkeep
!runtime/logs/waf/
!runtime/logs/waf/.gitkeep
!vault/certs/.gitkeep
!vault/data/.gitkeep
!waf/certs/.gitkeep
