SecAction \
 "id:100100,phase:1,nolog,pass,t:none,\
 setvar:'tx.allowed_methods=GET HEAD POST OPTIONS',\
 setvar:'tx.allowed_http_versions=HTTP/1.1 HTTP/2',\
 setvar:'tx.allowed_request_content_type=application/json|application/x-www-form-urlencoded|text/plain',\
 setvar:'tx.max_num_args=200'"
